hr.seperator {
    border-top-width: 4px;
    border-top-style: dotted;
    border-top-color: #999;
}

div.infobox {
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 10px #bbb;
    border-color: black;
    border-width: 1px;
    border-style: dashed
    
}